body{
    background: rgb(130, 170, 238);
    font: normal 14pt verdana;
}

header {
    color: white;
    text-align: center;

}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(133, 2, 94);

}

footer {
    color: white;
    text-align: center;

}
